{% extends 'core/base.html' %}

{% block title %}LeaderBoard{% endblock title %}

{% block main %}


<table class="table">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col"> total asset</th>

    </tr>
    {% for team in teams %}
    <tr>
        <td scope="row">{{team.n}}</td>
        <td>{{team.name}}</td>
        <td>HIDDEN</td> 
        {% comment %} {{team.total_asset}} {% endcomment %}
    </tr>
    {% endfor %}

</table>

{% endblock main %}